html, body {
    height: 100%;
}

.dark {
    background-color: #000000 !important;
    height: 100%;
    color: azure !important;
}

.dark h1 {
    color: lightsalmon;
}

.dark .navbar-brand {
    color: coral;
}
